# Directories
Desktop/
Downloads/
Dropbox/
.atom/
.cache/
.dropbox/
.dropbox-dist/
.gnome/
.gnupg/
.local/
.node-gyp/
.nv/
.password-store/
.pki/

.config/Atom/
.config/Trolltech.conf
.config/autostart/
.config/chromium/
.config/dconf/
.config/google-chrome/
!.config/gtk-2.0/gtkrc-2.0
.config/menus/
.config/pulse/
.config/ranger/tagged
.config/spotify/
.config/sublime-text-3/Cache/
.config/sublime-text-3/Installed Packages/
.config/sublime-text-3/Local/
.config/sublime-text-3/Packages/
!.config/sublime-text-3/Packages/User
.config/transmission-daemon/
.config/vlc/
.xsel.log

# Files
.bash_history
.bash_logout
.bash_profile
.bashrc
.config/fish/fish_history
.dmrc
.esd_auth
.fehbg
.Xauthority
.xsel-log
.xsession-errors
.xsession-errors.old
.z