! Font settings
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! urxvt settings
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.font:			   xft:PragmataPro for Powerline:pixelsize:16:size:10
URxvt.boldFont:		   xft:PragmataPro for Powerline:pixelsize:16:size:10:bold
URxvt.italicFont:	   xft:PragmataPro for Powerline:pixelsize:16:size:10:italic
URxvt.boldItalicFont:  xft:PragmataPro for Powerline:pixelsize:16:size:10:bolditalic
URxvt.scrollBar: 	   false
URxvt.letterSpace: 	   -1

! urxvt: url underline and follow
!URxvt.url-select.launcher:  google-chrome-stable
!URxvt.url-select.underline: true
!URxvt.keysym.M-u:           perl:url-select:select_next
!URxvt.keysym.M-Escape:      perl:keyboard-select:activate
!URxvt.keysym.M-s:           perl:keyboard-select:search

! urxvt: enable copy and paste
URxvt.iso14755: 			  False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd:  	  xsel -ib
URxvt.clipboard.pastecmd: 	  xsel -ob

! urxvt: colour schemes
URxvt.depth: 32

#include "/home/matt/.config/urxvt/Gooey.base16.xrdb"
!#include "/home/matt/.config/urxvt/Seti.base16.xrdb"

!#include "/home/matt/.config/urxvt/Seti.xrdb"
!#include "/home/matt/.config/urxvt/MaterialDark.xrdb"
!#include "/home/matt/.config/urxvt/Gooey.xrdb"

!URxvt*color0:       Ansi_0_Color
!URxvt*color1:       Ansi_1_Color
!URxvt*color2:       Ansi_2_Color
!URxvt*color3:       Ansi_3_Color
!URxvt*color4:       Ansi_4_Color
!URxvt*color5:       Ansi_5_Color
!URxvt*color6:       Ansi_6_Color
!URxvt*color7:       Ansi_7_Color
!URxvt*color8:       Ansi_8_Color
!URxvt*color9:       Ansi_9_Color
!URxvt*color10:      Ansi_10_Color
!URxvt*color11:      Ansi_11_Color
!URxvt*color12:      Ansi_12_Color
!URxvt*color13:      Ansi_13_Color
!URxvt*color14:      Ansi_14_Color
!URxvt*color15:      Ansi_15_Color
!URxvt*colorBD:      Bold_Color
!URxvt*background:   Background_Color
!URxvt*foreground:   Foreground_Color
!URxvt*cursorColor:  Cursor_Color
