! Font settings
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! rofi settings
rofi.width:           60
rofi.opacity:         85
rofi.bw:              0
rofi.bc:              #1c2230
rofi.bg:              #1c2230
rofi.fg:              #676e7d
rofi.hlbg:            #c73b18
rofi.hlfg:            #f3f4f5
rofi.font:            Roboto 10
rofi.terminal:        urxvt
rofi.location:        0
rofi.padding:         20
rofi.yoffset:         0
rofi.xoffset:         0
rofi.separator-style: solid
rofi.lines:           10
rofi.columns:         1
rofi.fixed-num-lines: true

! urxvt settings
URxvt.font: 	 			  xft:Hack:size=12:antialias:false
URxvt.letterSpace: 			  -1
URxvt.scrollBar: 			  false

! urxvt: enable copy and paste
URxvt.perl-ext-common: 		  default,clipboard
URxvt.iso14755: 			  False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd:  	  xsel -ib
URxvt.clipboard.pastecmd: 	  xsel -ob

! urxvt: colour schemes
URxvt.depth: 32

#include "/home/matt/Seti.xrdb"

URxvt*color0:       Ansi_0_Color
URxvt*color1:       Ansi_1_Color
URxvt*color2:       Ansi_2_Color
URxvt*color3:       Ansi_3_Color
URxvt*color4:       Ansi_4_Color
URxvt*color5:       Ansi_5_Color
URxvt*color6:       Ansi_6_Color
URxvt*color7:       Ansi_7_Color
URxvt*color8:       Ansi_8_Color
URxvt*color9:       Ansi_9_Color
URxvt*color10:      Ansi_10_Color
URxvt*color11:      Ansi_11_Color
URxvt*color12:      Ansi_12_Color
URxvt*color13:      Ansi_13_Color
URxvt*color14:      Ansi_14_Color
URxvt*color15:      Ansi_15_Color
URxvt*colorBD:      Bold_Color
URxvt*background:   Background_Color
URxvt*foreground:   Foreground_Color
URxvt*cursorColor:  Cursor_Color
